<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
    <body>
        <header>
            <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
                <div class="container-fluid">
                    <!-- Logo -->
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img id="logo-img" src="~/images/shopeefoodvn.png" alt="ShopeeFood">
                    </a>

                    <!-- Location Dropdown -->
                    <div class="dropdown">
                        <button id="location-dropdown-btn" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            TP. HCM
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Hà Nội</a></li>
                            <li><a class="dropdown-item" href="#">Đà Nẵng</a></li>
                            <li><a class="dropdown-item" href="#">Cần Thơ</a></li>
                        </ul>
                    </div>

                    <!-- Toggler Button (Mobile) -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Navbar Content -->
                    <div class="navbar-nav" id="navbarNav" style="padding-right: 200px;">
                        <ul class="navbar-nav">
                            <li class="nav-item p-1"><a class="nav-link active" href="/">Đồ ăn</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/fresh">Thực phẩm</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/liquor">Rượu bia</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/flowers">Hoa</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/fmcg">Siêu thị</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/medicine">Thuốc</a></li>
                            <li class="nav-item p-1"><a class="nav-link" href="/pets">Thú cưng</a></li>
                        </ul>
                    </div>

                    <!-- Right Section: Search, Language, User -->
                    <div class="d-flex">
                        <!-- Search Icon -->
                        <button class="btn btn-outline-secondary me-3">
                            <i class="bi bi-search"></i>
                        </button>

                        <!-- Login Button -->
                        <a id="login-button" asp-controller="Account" asp-action="Login" class="btn btn-outline-orange" >Đăng nhập</a>

                        <!-- Language Dropdown -->
                        <div class="dropdown" style="margin-left: 150px">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                <i class="bi bi-translate"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Tiếng Việt</a></li>
                                <li><a class="dropdown-item" href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
                <partial name="_Notifications" />
            </main>
        </div>

        <footer class="border-top text-muted pt-5">
            <div class="container-fluid row">
                <div class="col-3" id="about-section">
                    <p class="footer-title pb-3">Công ty</p>

                    <ul class="list-unstyled">
                        <li><a>Giới thiệu</a></li>
                        <li><a>Trung tâm trợ giúp</a></li>
                        <li><a>Quy chế</a></li>
                        <li><a>Điều khoản sử dụng</a></li>
                        <li><a>Bảo mật thông tin</a></li>
                        <li><a>Giải quyết khiếu nại</a></li>
                        <li><a>Liên hệ</a></li>
                        <li><a>Hợp tác nhân viên giao nhận</a></li>
                        <li><a>Đăng ký quán</a></li>
                        <li><a>ShopeeFood Uni</a></li>
                        <li><a>Shopee Blog</a></li>
                    </ul>
                </div>
                
                <div class="col-3">
                    <p class="footer-title pb-3">Ứng dụng ShopeeFood</p>
                    
                    <a><img alt="" class="store-icon pb-4 row" src="~/images/appstore.png"/></a>
                    <a><img alt="" class="store-icon pb-4 row" src="~/images/googleplay.png"/></a>
                    <a><img alt="" class="store-icon pb-4 row" src="~/images/appgallery.png"/></a>
                </div>
                
                <div class="col-3">
                    <div style="text-align: center;">
                        <a><img alt="" class="footer-logo pt-2 pb-5" src="~/images/shopeefoodvn-footer.png"/></a>

                        <p>© 2025  ShopeeFood</p>

                        <div class="row pt-5">
                            <a></a>
                        </div>
                    </div>
                </div>
                
                <div class="col-3 d-flex justify-content-end" style="padding-top: 100px">
                    <p class="footer-title pb-3 row">Địa chỉ công ty</p>
                    
                    <p>Công Ty Cổ Phần Foody</p>
                    <p>Lầu G, Tòa nhà Jabes 1,</p>
                    <p>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</p>
                    <p>Giấy CN ĐKDN số: 0311828036</p>
                    <p>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</p>
                    <p>sửa đổi lần thứ 23, ngày 10/12/2020</p>
                    <p>Chịu trách nhiệm quản lý nội dung và vấn đề bảo vệ quyền lợi người tiêu dùng: Nguyễn Hồ Quảng Giang</p>
                    <p>Điện thoại liên hệ: 028 71096879</p>
                    <p>Email: cskh@support.shopeefood.vn</p>
                    <img alt="" class="license pt-2" src="~/images/license.jpg"/>
                    
                    
                </div>
            </div>
        </footer>
    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>