@{
    ViewData["Title"] = $"{User.Identity!.Name}'s Cart | Food Delivery & Shipping Service | ShopeeFood.vn";
}

<h1>Empty cart</h1>

@section Scripts
{
    <script src="~/js/cart.js" asp-append-version="true"></script>
}
