@model RegisterViewModel
@{
    ViewData["title"] = "Order Đồ ăn in TP. HCM & Delivery Service | Food Delivery & Shipping Service | ShopeeFood.vn";
}
<div class="container mt-5 login-form-container">
    <div class="card p-4 shadow-sm mx-auto">
        <h4 class="text-center">Đăng ký</h4>
        <!--
        <div class="my-3">
            <div class="btn btn-outline-secondary w-100 d-flex align-items-center justify-content-center">
                <i class="fas fa-mobile-alt me-2"></i> Số điện thoại
            </div>
        </div>
        <form id="google-login-form" action="https://accounts.google.com/o/oauth2/v2/auth" method="GET">
            <button type="submit" class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center">
                <i class="fab fa-google-plus-g me-2"></i> Google
            </button>
        </form>
        <p class="text-center my-3">Hoặc đăng nhập bằng tài khoản của bạn</p>
        -->
        <form method="post" asp-controller="Account" asp-action="Register">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label">Email <span class="text-danger">*</span></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Số điện thoại <span class="text-danger">*</span></label>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại">
                <span asp-validation-for="PhoneNumber" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Họ <span class="text-danger">*</span></label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Họ">
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tên <span class="text-danger">*</span></label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="Tên">
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Tên đăng nhập <span class="text-danger">*</span></label>
                <input asp-for="UserName" type="text" class="form-control" placeholder="Tên đăng nhập">
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu <span class="text-danger">*</span></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div class="mb-3">
                <label class="form-label">Xác nhận mật khẩu <span class="text-danger">*</span></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Xác nhận mật khẩu" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-success w-100">Đăng ký</button>
        </form>
        <div class="text-center mt-3">
            <small>Bằng cách đăng nhập hoặc đăng ký, bạn đồng ý với <a href="https://shopeefood.vn/gioi-thieu#footer-bottom" class="text-decoration-none" target="_blank" style="color: #0495ba; border-bottom: 2px solid;">Chính sách quy định của Foody</a></small>
        </div>

        <br/>
        <hr />

        <div class="text-center mt-3">
            <small>Bạn chưa đã tài khoản? <a asp-controller="Account" asp-action="Login" class="text-decoration-none" style="color: #0495ba; border-bottom: 2px solid;">Đăng nhập ngay!</a></small>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/register.js" asp-append-version="true"></script>
}
