@{
    ViewData["Title"] = "ShopeeFood | Nền tảng giao đồ ăn trực tuyến hàng đầu Việt Nam | shopeefood.vn";
}

<div class="text-center">
    <h1 class="display-4">Hello <b>@User.Identity!.Name</b></h1>
</div>