@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
  --primary-color: #EE4D2D;
  --primary-background-color: #F2F2F2;
  --title-text-color: #252525;
  --main-banner: url("/images/main-banner.jpg");
  --merchant-badge: url("/images/partner2x.png");
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
  overflow-x: hidden;
}

html, body, .home-footer, .home-footer div, footer, footer div {
  background-color: var(--primary-background-color);
}

body {
  margin-top: 70px;
  margin-bottom: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  width: 1296px;
}

.dropdown-item:active, .dropdown-item:focus {
  background-color: #959595 !important;
  color: #ffffff !important;
}

.company-address {
  margin-top: -150px;
  overflow: visible;
  width: 500px;
}

.company-address p:not(:first-child) {
  white-space: nowrap;
  margin-bottom: 3px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.btn-outline-orange {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
}

.btn-outline-orange:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-orange {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.3s;
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
}

.btn-orange:hover {
  background-color: #d66a00;
  border-color: #d66a00;
  color: white;
}


#login-button {
  width: 99px;
  height: 37px;
}

#main-nav {
  height: 70px;
}

#navbarNav {
  padding-right: 200px;
  margin-left: -150px;
}

.main-location-dropdown {
  margin-left: 150px;
}

.location-item:not(:last-child), .district-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.location-item {
  width: 230px;
}

.location-item:hover {
  background-color: #f0f0f0;
}

.district-item, .district-item a {
  width: 167px;
  cursor: pointer;
}

.location-item a span {
  text-align: right;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 12px !important;
  color: #9fa9aa !important;
}

.location-item a, .district-item a {
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  color: #181818 !important;
  padding-top: 6px;
}

.shipper-sorry-section {
  margin-top: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.shipper-sorry-section img {
  width: 200px;
  height: 190px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shipper-sorry-section h3 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: center;
}

.shipper-sorry-section p {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgb(109, 111, 113);
  text-align: center;
}

.store-main-content .shipper-sorry-section, .collection-main-content .shipper-sorry-section {
  background-color: white;
  border-radius: 6px;
}

.nav-link {
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  height: 50px;
  margin-top: 20px;
}

.main-nav-item.active {
  border-bottom: 4px solid var(--primary-color);
  color: var(--primary-color) !important;
  font-weight: 700;
}

#logo-img {
  margin-left: 110px;
  width: 153px;
  height: auto;
}

.ministry-of-industry-and-trade-badge {
  width: 30%;
  height: auto;
}

.store-icon {
  width: 135px;
  height: 40px;
}

.language-dropdown {
  margin-left: -100px;
}

.language-dropdown li a {
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  color: rgb(24, 24, 24);
}

#location-dropdown {
  margin-left: -160px;
  max-height: 500px;
  overflow-y: auto;
}

#location-dropdown-btn {
  width: 130px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -160px;
}

#district-dropdown {
  height: 300px;
  overflow-y: auto;
  position: absolute;
}

#district-dropdown-btn {
  width: 180px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer-title {
  color: #252525;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

#about-section ul li {
  color: #1a8bbd
}

footer {
  margin: auto;
}

footer div div div ul li a {
  text-decoration: none;
  color: #08f;
}
footer div div div p {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #959595;
}

.footer-logo {
  height: 175px;
  width: auto;
}

.license {
  width: 100px;
  height: auto;
}

.seo-footer-link p, .seo-footer-link ul li {
  text-align: justify;
  font-size: 15px;
  font-family: Calibri, sans-serif;
  color: #000000;
}

.seo-footer-link p a {
  color: #1155cc;
}

.seo-footer-link h3 {
  text-align: justify;
  font-size: 24px;
  font-family: Calibri, sans-serif;
  color: #000000;
}

.user-menu-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.user-menu-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.home-footer-item {
  padding-bottom: 20px;
}

.home-footer div p {
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 700;
  color: #0000008a;
}

.home-footer-item a {
  font-size: 13px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 700;
  color: #0000008a;
  text-decoration: none;
}

.home-footer-item ul a {
  font-size: 13px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
  color: #0000008a;
  text-decoration: none;
}

.home-footer-item a {
  font-size: 13px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,.54);
  text-decoration: none;
}

.home-footer-item a:hover {
  color: #0288d1;
}
.home-footer-item ul li a:hover {
  color: #0288d1;
}

.home-footer-item-list {
  list-style: none;
  padding: 0 20px 0 0;
  margin: 0;
  gap: 10px;
}

.home-footer-item-list a {
  display: inline;
}

.home-footer-item-list a:not(:last-child)::after {
  content: ' | ';
}

.home-info-section {
  background-color: #FFFFFF;
  width: 1296px;
  height: 300px;
  padding: 0;
  margin: 0;
}

.home-info-text {
  padding: 50px 10px 50px 150px;
}

.home-info-text-first-section {
  padding: 20px 10px 10px 150px;
}

.home-info-img {
  padding: 50px 10px 0 10px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-info-img img {
  width: auto;
  height: 250px;
  object-fit: contain;
}

.home-info-img-horizontal {
  padding: 10px 50px 0 50px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-info-img-horizontal img {
  width: auto;
  height: 150px;
  object-fit: contain;
}

.home-info-section span p {
  text-align: justify;
  font-family: "Noto Sans", Arial, sans-serif;
}

.home-info-section h4 {
  text-align: left;
  font-family: "Noto Sans", Arial, sans-serif;
}

.home-info-section h4 {
  font-size: 22px;
}

.home-info-section span p {
  font-size: 14px;
}

.home-info-section h4 a, .home-info-section span p a {
  text-decoration: none;
}

.home-main-section {
  min-height: 100vh;
  height: auto !important;
  overflow: auto;
  background-image: var(--main-banner);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  object-fit: contain;
  -o-object-fit: contain;
  margin: 0 -305px 120px;
  padding-left: 340px;
  padding-bottom: 70px;
}

.home-main-section div {
  position: relative;
}

.home-search-section {
  color: #FFFFFF;
  width: 470px;
  z-index: 2;
  position: relative;
  top: 180px;
  left: 9px;
}

.home-search-section a {
  text-decoration: none;
  margin-bottom: 10px;
}

.home-search-section a img {
  width: 155px;
  height: 45px;
}

.home-search-title, .home-search-local {
  font-family: "Noto Sans", Arial, sans-serif;
}

.home-search-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.home-search-local {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.home-search-form {
  padding: 27px 0 40px;
}

.home-search-input {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.home-search-input input {
  width: 100%;
  padding-right: 75px;
  padding-left: 10px;
  margin-left: 12px;
  height: 50px;
  border: 0;
  border-radius: 6px 0 0 6px;
}

.home-search-input a {
  height: 50px;
  border-radius: 0 10px 10px 0;
}

.home-search-tags-section a {
  display: inline-block;
  min-width: auto !important;
  width: auto !important;
  margin-right: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  background-color: transparent;
}

.home-vertical-list-section {
  width: 670px;
  z-index: 2;
  position: absolute;
  top: 50px;
  left: -250px;
  font-family: "Noto Sans", Arial, sans-serif;
  min-height: 500px;
  overflow-y: auto;
}

.home-address-section div div span {
  color: #0288d1;
  font-size: 14px; 
  font-weight: 700;
}

.home-precise-address {
  color: #464646; 
  font-size: 14px; 
  font-weight: 400;
  padding-top: 2px;
  margin-left: -16px;
}

.home-address-section {
  background-color: #FFFFFF;
  margin-bottom: 20px;
  padding: 14px 17px 14px 40px;
  border-radius: 4px;
}

.home-promotion-section, .home-collection-section, .home-stores-section {
  background-color: #FFFFFF;
  padding: 13px 40px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.home-stores-title, .home-collection-title {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-promotion-title, .home-collection-title, .home-stores-title {
  justify-content: space-between;
}
.home-promotion-see-more, .home-collection-see-more, .home-stores-see-more{
  text-align: center;
}

.home-vertical-list-section div div h2 {
  font-size: 16px;
  font-weight: 700;
  color: #464646;
}

.home-vertical-list-section div div a {
  font-size: 14px;
  font-weight: 400;
  color: #0288d1;
  text-decoration: none;
}

.store-item, .collection-item, .store-section-store-item {
  padding: 8px;
}

.collection-img {
  height: 184px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.collection-section-collection-content-img {
  height: 285px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.store-img {
  height: 116px;
  border-radius: 6px 6px 0 0;
  border: 1px solid #d7d7d7;
  overflow: hidden;
}

.store-section-store-content-img {
  height: 137px;
  border-radius: 6px 6px 0 0;
  border: 1px solid #d7d7d7;
  overflow: hidden;
}

.collection-img img, .collection-section-collection-content-img img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.store-img img, .store-section-store-content-img img {
  height: 100%;
  width: 100%;
}

.home-store-img {
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  height: 90px;
  width: 142px;
  margin-right: 15px;
}

.home-store-img img{
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.store-content, .store-section-store-content {
  border-radius: 6px;
  text-decoration: none;
}

.collection-content, .collection-section-collection-content {
  display: block;
  border-radius: 6px;
  text-decoration: none;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.collection-section-collection-content {
  background-color: #FFFFFF;
}

.home-store-item {
  padding-bottom: 15px;
}

.home-store-content, .home-store-img {
  float: left;
}

.home-store-item:hover .home-store-basic-info {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: #b5b5b5;
}

.home-store-basic-info {
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius:  6px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.home-store-basic-info h4 {
  font-size: 16px;
  font-weight: 700;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
  padding-top: 12px;
}

.home-store-basic-info h4 img {
  height: 17px;
  width: 17px;
  margin-top: -3px;
}

.home-store-basic-info div {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  overflow: hidden;
  padding-bottom: 12px;
}

.store-basic-info, .store-section-store-content-basic-info {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #d7d7d7;
  border-radius:  0 0 6px 6px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.collection-basic-info, .store-section-store-content-basic-info, .collection-section-collection-content-basic-info  {
  padding-left: 10px;
  padding-right: 10px;
  border-radius:  0 0 6px 6px;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.store-item:hover .store-basic-info, .store-section-store-item:hover .store-section-store-content-basic-info {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: #b5b5b5;
}

.collection-item:hover .collection-content, .collection-section-collection-item:hover .collection-section-collection-content {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-color: #b5b5b5;
  border-radius: 6px;
}


.store-basic-info h4, .collection-basic-info h4, .store-section-store-content-basic-info h4, .collection-section-collection-content-basic-info h4 {
  font-size: 14px;
  font-weight: 700;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
  padding-top: 8px;
}

.collection-section-collection-content-basic-info h4 {
  padding: 6px 0;
}

.store-basic-info div, .store-section-store-content-basic-info div {
  font-size: 12px;
  font-weight: 400;
  color: #959595;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}

.collection-basic-info div {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #0288d1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}

.login-form-container {
  width: 600px;
}

.collection-section-collection-content-basic-info div {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0288d1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 40px;
  font-size: 20px;
  transition: opacity 0.3s ease;
}

.store-section-title, .collection-section-title {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;  
  color: rgb(37, 37, 37);
  padding-top: 45px;
  padding-bottom: 60px;
}

#store-district-dropdown-btn, #store-category-dropdown-btn {
  margin-left: 10px;
}

#store-district-dropdown .row, #store-category-dropdown .row {
  width: 840px;
  height: 180px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.store-section-options .row > *, .filter-tags-section > *  {
  padding-right: 0;
}

.filter-tags-section div {
  display: none;
}

.store-section-options p {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
  padding-top: 20px;
  margin-bottom: 10px;
}

.store-section-location-filter-tag, .store-section-category-filter-tag {
  background-color: white;
  width: 130px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  margin: 10px;
  display: table;
}

.store-section-location-filter-tag p, .store-section-category-filter-tag p {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding-left: 5px;
}

.store-section-location-filter-tag button, .store-section-category-filter-tag button {
  margin-left: auto;
  height: inherit;
}

.form-check-input:checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.pagination {
  text-align: center;
  margin-top: 30px;
  max-height: 30px;
  overflow: hidden;
  list-style: none;
}

.pagination li.active a{
  background-color: #CF2127;
  color: #FFFFFF;
}

.pagination li:hover:not(.active):not(:first-child):not(:last-child) a{
  background-color: #CF2127;
  color: #FFFFFF;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  text-decoration: none;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #252525;
  text-align: center;
  line-height: 30px;
  width: 40px;
  height: 30px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.pagination li a i {
  color: #CF2127;
  font-size: 20px;
}

.opentime-status {
  top: 12px;
  left: -4px;
  z-index: 1;
  position: relative;
}

.opentime-status .status {
  border-radius: 50%;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  position: relative;
  z-index: 2;
}

.opentime-status .online {
  background-color: #6cc942; 
  color: #329900; 
}

.opentime-status .online-title {
  color: #329900;
}

.opentime-status .offline {
  background-color: #82857e;
  color: #727571;
}

.opentime-status .offline-title {
  color: #8e938c;
}

.store-details-info-section {
  background-color: white;
  padding: 30px 0;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.product-details-info-section {
  background-color: white;
  padding: 30px 0;
}

.store-details-cover-img {
  width: 480px;
  height: 300px;
}

.product-details-cover-img {
  width: 300px;
  height: 300px;
} 

.store-details-cover-img img, .product-details-cover-img img {
  height: 100%;
  margin-right: 50px;
}

.store-details-info > *, .product-details-info > * {
  font-family: "Noto Sans", Arial, sans-serif;
}

.product-details-sold-count {
  font-size: 14px;
  font-weight: 400;
  color: #959595
}

.product-details-sold-count span {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 700;
}

.store-details-info h1, .product-details-info h1 {
  font-size: 22px;
  font-weight: 700;
  color: #464646
}

.store-details-status .opentime-status {
  top: 0;
  left: 0;
  position: relative;
  display: inline-block;
}

.store-details-status .time {
  font-size: 15px;
  font-weight: 400;
  color: #252525;
}

.store-details-status .time i {
  color:#959595;
}

.store-details-cost {
  font-size: 15px;
  font-weight: 400;
  color: #959595;
}

.store-details-info {
  width: 645px;
  padding-bottom: 35px
}

.store-details-info .opentime-status span {
  font-size: 14px;
  font-weight: 400;
}

.store-details-info .store-details-address {
  font-size: 13px;
  font-weight: 400;
  color: #252525;
}

.store-details-info .store-details-rating, .product-details-info .product-details-rating {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.store-details-rating .number-rating, .product-details-rating .number-rating {
  background-color: #ffc107;
  padding: 0 5px;
  border-radius: 4px;
  color: #fff;
  margin: 0 5px;
  font-size: 14px;
  font-weight: 400;
}

.shopeefood-signature {
  margin-top: 15px;
}

.shopeefood-signature div {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #959595;
}

.shopeefood-signature div img {
  position: absolute;
  cursor: pointer;
  width: 116px;
  height: 44px;
  margin: -32px 0 0 14px;
}

.shopeefood-signature div div span {
  font-size: 14px;
  font-weight: 700;
}

.store-details-products-section {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 10px;
  margin: 50px 0 30px 0;

}

.store-details-products-section .menu h3 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #cf2127;
}

.menu {
  background-color: white;
  padding: 20px;
  width: 200px;
}

.menu .item {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #6d6f71;
  border-radius: 4px;
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
  
}

.menu .item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu .item a {
  cursor: pointer;
  text-decoration: none;
  color: #6d6f71;
  transition: color 0.3s ease-in-out;
  background-color: transparent !important;
}

.menu .active, .menu .active a {
  background-color: #959595;
  color: white;
}

.products-list {
  background-color: white;
  padding: 20px;
  width: 1000px;
}

.products-list .menu-title {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #6d6f71;
}

.product-item {
  height: 120px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 15px;
  padding: 10px 0 10px 10px;
}

.product-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-item a {
  text-decoration: none;
}

.product-item a .product-img {
  height: 100px;
  width: 100px;
  border-radius: 6px;
  padding-left: 0;
}

.product-item a .product-img img {
  height: 100%;
  width: auto;
  border-radius: 6px;
  border: 1px solid #e6dfdf;
}

.product-item a .product-info {
  margin: 0 15px;
  padding-top: 20px;
  padding-left: 30px;
  width: 660px
}

.product-item a .product-info h2 {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #464646;
  font-size: 16px;
  font-weight: 700;
}

.product-item a .product-info div {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #464646;
  font-size: 13px;
  font-weight: 400;
  padding-top: 5px;
  line-height: 1.6rem;
}

.product-item a .product-more {
  padding-top: 20px;
}

.product-item a .product-more div .price .actual-price, .product-details-cost .actual-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0288d1
}

.product-item a .product-more div .price .old-price, .product-details-cost .old-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #6d6f71;
  text-decoration: line-through;
}

.product-item a .product-more div .price .actual-price span, .product-item a .product-more div .price .old-price span, .product-details-cost .actual-price span, .product-details-cost .old-price span {
  font-weight: 400;
  font-size: 10px;
}

.product-item button {
  width: 22px;
  height: 22px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
  margin-top: 1.1rem
}

.product-search form input {
  border-radius: 6px 0 0 6px;
}

.product-search form input::placeholder {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #959595
}

.product-search form button {
  border-radius: 0 6px 6px 0;
}

.cart-main-section .store {
  text-decoration: none;
  width: 1296px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 30px 0 10px 0;
}

.cart-main-section .store .img {
  border-radius: 6px;
  border: 1px solid #d7d7d7;
  height: 90px;
  width: 142px;
  margin-right: 15px;
  padding: 0;
}

.cart-main-section .store .img img {
  border-radius: 6px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.cart-main-section .store .basic-info {
  height: 90px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
}

.cart-main-section .store .basic-info h4 {
  font-size: 16px;
  font-weight: 700;
  color: #252525;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1px;
  padding-top: 12px;
}

.cart-main-section .store .basic-info h4 img {
  height: 17px;
  width: 17px;
  margin-top: -3px;
}

.cart-main-section .store .basic-info p {
  font-size: 14px;
  font-weight: 400;
  color: #959595;
  overflow: hidden;
  padding-bottom: 12px;
}

.cart-main-section .cart-products-list {
  background-color: white;
  border-radius: 4px;
}

.cart-main-section .cart-products-list div .item {
  text-decoration: none;
  padding: 10px;
}

.cart-main-section .cart-products-list div .item .img {
  height: 80px;
  width: 80px;
  border-radius: 6px;
  padding-left: 0;
}

.cart-main-section .cart-products-list div .item .img img {
  height: 100%;
  width: auto;
  border-radius: 6px;
  border: 1px solid #e6dfdf;
}

.cart-main-section .cart-products-list div .item .info {
  margin: 0 15px;
  padding-top: 20px;
  padding-left: 30px;
  width: 660px;
}

.cart-main-section .cart-products-list div .item .info .name {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #464646;
  font-size: 15px;
  font-weight: 700;
}

.cart-main-section .cart-products-list div .item .info .description {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #464646;
  font-size: 12px;
  font-weight: 400;
  padding-top: 5px;
  line-height: 1.6rem;
}

.cart-main-section .cart-products-list div .item .price .old-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #6d6f71;
  text-decoration: line-through;
}

.cart-main-section .cart-products-list div .item .price .old-price span, .cart-main-section .cart-products-list div .item .price .actual-price span {
  font-weight: 400;
  font-size: 10px;
}

.cart-main-section .cart-products-list div .item .price .actual-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #0288d1;
}

.cart-main-section .cart-products-list div .button-section {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.cart-main-section .cart-products-list div .button-section a {
  height: 25px;
  width: 25px;
}

.cart-empty-main-section {
  width: 1296px;
  background-color: white;
  border-radius: 4px;
  padding: 40px;
  margin-top: 30px;
  font-family: "Noto Sans", Arial, sans-serif;
}

.cart-empty-main-section div h4 {
  font-size: 26px;
  font-weight: 700;
  color: #252525;
}

.cart-empty-main-section div p {
  font-size: 22px;
  font-weight: 400;
  color: #4a4949;
}

.cart-empty-main-section div p a {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-color);
}

.checkout-section {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.checkout-section .total-price span {
  color: var(--primary-color);
  font-weight: 700;
}

.order-detail-main-section .customer-address-section {
  background-color: white;
  border-radius: 4px;
}

.order-detail-main-section .customer-address-section h4 {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #252525;
}

.order-detail-main-section .customer-address-section div {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .customer-address-section div div button {
  width: auto;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .customer-address-section div div ul li {
  font-size: 13px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .customer-address-section div div input, .order-detail-main-section .customer-address-section .customer-basic-info div input {
  width: 400px;
  height: 30px;
  border-color: #959595;
  border-radius: 6px;
  color: #252525;
}

.order-detail-main-section .customer-address-section div div span {
  margin-left: 60px;
  font-size: 12px;
  font-weight: 400;
}

.order-detail-main-section .customer-address-section div div input::placeholder {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #959595;
}

.order-detail-main-section .customer-address-section div div ul li:hover {
  background-color: #aaa2a2 !important;
  color: #ffffff !important;
}

.order-detail-main-section .customer-address-section .customer-basic-info {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .customer-address-section .customer-basic-info div span, .order-detail-main-section .customer-address-section .customer-basic-info div input {
  font-weight: 700;
}

.order-detail-main-section .customer-address-section .customer-basic-info div input::placeholder {
  font-family: "Noto Sans", Arial, sans-serif;
  color: #959595;
}

.order-detail-main-section .products-list-section {
  background-color: white;
  border-radius: 4px;
}

.order-detail-main-section .products-list-section .store-name * {
  text-decoration: none;
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .products-list-section .store-name h4 {
  font-size: 16px;
  font-weight: 700;
}

.order-detail-main-section .products-list-section .product-items .item .item-img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #959595;
}

.order-detail-main-section .products-list-section .product-items .item .item-img img {
  width: 100%;
  height: 100%;
}

.order-detail-main-section .products-list-section .product-items .item .item-info * {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.order-detail-main-section .products-list-section .product-items .item .item-info .name {
  font-weight: 700;
}

.order-detail-main-section .products-list-section .product-items .item .item-info .description {
  font-size: 13px;
  color: #959595;
}

.order-detail-main-section .products-list-section .product-items .item .item-info .quantity {
  font-size: 13px;
}

.order-detail-main-section .products-list-section .product-items .item .item-info .quantity span {
  font-weight: 700;
  color: var(--primary-color);
}

.order-detail-main-section .products-list-section .product-items .item .item-price .old-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #6d6f71;
  text-decoration: line-through;
}

.order-detail-main-section .products-list-section .product-items .item .item-price .actual-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0288d1;
}

.order-detail-main-section .products-list-section .product-items .item .item-price .old-price span, .order-detail-main-section .products-list-section .product-items .item .item-price .actual-price span{
  font-weight: 400;
  font-size: 10px;
}

.order-detail-main-section .order-total-price {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #252525;
}

.order-detail-main-section .order-total-price span {
  font-weight: 700;
  color: var(--primary-color);
}

.order-detail-main-section button {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
