@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
  --primary-color: #EE4D2D;
  --primary-background-color: #F2F2F2;
  --title-text-color: #252525;
}

html {
  font-size: 14px;
  background-color: var(--primary-background-color);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  width: 80%;
}

.btn-outline-orange {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
}

.btn-outline-orange:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

#login-button {
  width: 99px;
  height: 37px;
}

#main-nav {
  height: 70px;
}

.nav-link {
  height: 100%;
  font-size: 14px;
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
}

.nav-link.active {
  border-bottom: 4px solid var(--primary-color);
  color: var(--primary-color) !important;
  font-weight: 700;
}

#logo-img {
  margin-left: 120px;
  width: 153px;
  height: auto;
}

.store-icon {
  margin-left: 10px;
  width: 135px;
  height: 65px;
}

#location-dropdown-btn{
  width: 100px;
  height: 41px;
}

.footer-title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
}

#about-section ul li {
  color: #1a8bbd
}

.footer-logo {
  height: 175px;
  width: auto;
}

.license {
  width: 100px;
  height: auto;
}